Genetic Algorithm 복습

Reference :  https://towardsdatascience.com/evolution-of-a-salesman-a-complete-genetic-algorithm-tutorial-for-python-6fe5d2b3ca35

In [2]:
import numpy as np, operator, random, pandas as pd, matplotlib.pyplot as plt

1. Create population

In [26]:
#create city class

class City : 
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def distance(self,city):
        xDis = abs(self.x-city.x)
        yDis = abs(self.y-city.y)
        distance = np.sqrt(xDis**2+yDis**2)
        return distance
    
    def __repr__(self):
        return '('+str(self.x)+','+str(self.y)+')'

In [46]:
#Fitness class
class Fitness:
    def __init__(self,route):
        self.route = route
        self.distance =0
        self.fitness = 0.0
        
    def routeDistance(self):
        if self.distance ==0:
            pathDistance =0
            for i in range(0,len(self.route)):
                fromCity = self.route[i]
                toCity = None
                if i+1 < len(self.route):
                    toCity = self.route[i+1]
                else:
                    toCity = self.route[0]
                pathDistance += fromCity.distance(toCity)
            self.distance = pathDistance
            return self.distance
        
    def routeFitness(self):
        if self.fitness ==0:
            self.fitness =1/float(self.routeDistance())
        return self.fitness
            
#routeFitness는 Distance가 클수록 작아진다. 왜냐면 1 / 전체거리이므로

In [47]:
def createRoute(cityList):
    route = random.sample(cityList,len(cityList))
    return route

In [48]:
cityList = []
for i in range(0,10):
    cityList.append(City(int(random.random()*50),int(random.random()*50)))

In [49]:
cityList

[(4,13),
 (25,25),
 (46,22),
 (49,13),
 (42,27),
 (19,20),
 (14,27),
 (14,41),
 (9,15),
 (25,39)]

In [50]:
createRoute(cityList)

[(19,20),
 (4,13),
 (49,13),
 (42,27),
 (46,22),
 (9,15),
 (14,27),
 (25,25),
 (14,41),
 (25,39)]

In [51]:
def initialpopulation(popSize,cityList):
    population=[]
    for i in range(0,popSize):
        population.append(createRoute(cityList))
    return population

In [52]:
in_pop = initialpopulation(10,cityList)

In [53]:
in_pop

[[(42,27),
  (14,27),
  (9,15),
  (25,25),
  (46,22),
  (49,13),
  (25,39),
  (19,20),
  (14,41),
  (4,13)],
 [(46,22),
  (19,20),
  (9,15),
  (49,13),
  (14,27),
  (14,41),
  (4,13),
  (25,39),
  (25,25),
  (42,27)],
 [(46,22),
  (9,15),
  (19,20),
  (25,39),
  (49,13),
  (14,27),
  (14,41),
  (4,13),
  (25,25),
  (42,27)],
 [(19,20),
  (49,13),
  (4,13),
  (25,25),
  (42,27),
  (9,15),
  (14,41),
  (46,22),
  (14,27),
  (25,39)],
 [(14,27),
  (49,13),
  (25,39),
  (9,15),
  (25,25),
  (46,22),
  (42,27),
  (14,41),
  (19,20),
  (4,13)],
 [(25,39),
  (4,13),
  (9,15),
  (42,27),
  (46,22),
  (19,20),
  (14,27),
  (49,13),
  (25,25),
  (14,41)],
 [(19,20),
  (25,39),
  (25,25),
  (42,27),
  (49,13),
  (4,13),
  (14,27),
  (9,15),
  (14,41),
  (46,22)],
 [(9,15),
  (14,41),
  (25,39),
  (14,27),
  (49,13),
  (19,20),
  (46,22),
  (4,13),
  (25,25),
  (42,27)],
 [(25,25),
  (9,15),
  (42,27),
  (19,20),
  (14,27),
  (4,13),
  (14,41),
  (49,13),
  (25,39),
  (46,22)],
 [(14,41),
  (25,25),
  (49,13),
  (14,27),
  (25,39),
  (19,20),
  (9,15),
  (42,27),
  (46,22),
  (4,13)]]

Determine Fitness.

--> Fitness 이용해 rank 만들기

In [54]:
def rankRoutes(population):
    fitnessResults={}
    for i in range(0,len(population)):
        fitnessResults[i]=Fitness(population[i]).routeFitness()
    return sorted(fitnessResults.items(),key=operator.itemgetter(1),reverse=True)
## Fitness Class에서 Fitness호출, population에 for문돌려 Fitness 모두 구한 후
##Fitness가 좋은것부터 내림차순으로 나열
##index, fitness순의 dic 출력

In [55]:
rankRoutes(in_pop)

[(5, 0.004736507297938425),
 (1, 0.0043351130944567695),
 (6, 0.004298021483821667),
 (2, 0.004286683389915599),
 (4, 0.00425426831681988),
 (0, 0.0042071153876272385),
 (9, 0.0040727838867052404),
 (8, 0.003816793847268126),
 (7, 0.0037190881387733537),
 (3, 0.0035148408761766967)]

Select Mating pool
--> elitism 이용.
이게 뭐시냐?! : Best performing individuals from population will automaticall carry over to the next generation, ensuring that the most successful individuals persist.

어떤 절차로 이뤄질것인가?
1. rankRoutes의 결과 이용해서 selection 할것. --> roulette wheel이용해 weight 계산
2. elitism --> elitesize만큼은 최고 rankRoutes 에서 가져올것

In [56]:
selectionResults = []
popranked = rankRoutes(in_pop)
df = pd.DataFrame(np.array(popranked),columns=['Index','Fitness'])

In [57]:
df

   Index   Fitness
0    5.0  0.004737
1    1.0  0.004335
2    6.0  0.004298
3    2.0  0.004287
4    4.0  0.004254
5    0.0  0.004207
6    9.0  0.004073
7    8.0  0.003817
8    7.0  0.003719
9    3.0  0.003515

In [58]:
df['cum_sum']=df.Fitness.cumsum()

In [59]:
df

   Index   Fitness   cum_sum
0    5.0  0.004737  0.004737
1    1.0  0.004335  0.009072
2    6.0  0.004298  0.013370
3    2.0  0.004287  0.017656
4    4.0  0.004254  0.021911
5    0.0  0.004207  0.026118
6    9.0  0.004073  0.030190
7    8.0  0.003817  0.034007
8    7.0  0.003719  0.037726
9    3.0  0.003515  0.041241

In [60]:
df['cum_perc'] = 100*df.cum_sum/df.Fitness.sum()

In [61]:
df

   Index   Fitness   cum_sum    cum_perc
0    5.0  0.004737  0.004737   11.484888
1    1.0  0.004335  0.009072   21.996491
2    6.0  0.004298  0.013370   32.418157
3    2.0  0.004287  0.017656   42.812330
4    4.0  0.004254  0.021911   53.127904
5    0.0  0.004207  0.026118   63.329144
6    9.0  0.004073  0.030190   73.204663
7    8.0  0.003817  0.034007   82.459467
8    7.0  0.003719  0.037726   91.477359
9    3.0  0.003515  0.041241  100.000000

In [62]:
for i in range(0,3):
    selectionResults.append(popranked[i][0])
##if elitesize= 3

In [63]:
selectionResults

[5, 1, 6]

In [67]:
for i in range(0,len(popranked)-3):
    pick = 100*random.random()
    for i in range(0,len(popranked)):
        if pick<=df.iat[i,3]:
            selectionResults.append(popranked[i][0])
            break
#ex) pick = 30이 나오면 2선택 후 break. 이런식으로 나머지 10개중 weight에 따라 7개 선택

In [68]:
selectionResults

[5, 1, 6, 1, 6, 0, 5, 0, 1, 7]

In [73]:
##위의 모든 순서 한방에 처리하는 selection method 정의
def selection(popRanked,eliteSize):
    selectionResults=[]
    df = pd.DataFrame(np.array(popRanked),columns=['Index','Fitness'])
    df['cum_sum'] = df.Fitness.cumsum()
    df['cum_perc'] = 100*df.cum_sum/df.Fitness.sum()
    
    for i in range(0,eliteSize):
        selectionResults.append(popRanked[i][0])
    for i in range(0,len(popranked)-eliteSize):
        pick = 100*random.random()
        for i in range(0,len(popRanked)):
            if pick<=df.iat[i,3]:
                selectionResults.append(popranked[i][0])
                break
    return selectionResults

In [75]:
selection(rankRoutes(in_pop),3)

[5, 1, 6, 7, 1, 5, 2, 9, 3, 1]