# Genetic Algorithm 
Reference : https://towardsdatascience.com/evolution-of-a-salesman-a-complete-genetic-algorithm-tutorial-for-python-6fe5d2b3ca35

Genetic Algorithm을 이용한 TPS 문제해결.
    - 기존 reference에 있던 TPS 문제에서 Elitism은 제외할것
    - breeding : PMX crossover 
    - mutate : exchange(swap)

1. Class 구성

In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, random, operator, time

In [2]:
#City class 구성
class City :
    def __init__(self,x,y):
        self.x = x
        self.y = y
    
    def distance(self,city):
        Dis = np.sqrt((self.x-city.x)**2+(self.y-city.y)**2)
        return Dis
    
    def __repr__(self):
        return '('+str(self.x)+','+str(self.y)+')'

In [3]:
#Fitness
class Fitness :
    def __init__(self,route):
        self.route = route
        self.distance =0
        self.fitness = 0
        
        
        
    def routeDistance(self):
        pathdistance = 0
        if self.distance == 0:
            for i in range(0,len(self.route)):
                if i+1 < len(self.route):
                    fromCity = self.route[i]
                    toCity = self.route[i+1]
                    pathdistance += fromCity.distance(toCity)
                else :
                    fromCity = self.route[len(self.route)-1]
                    toCity = self.route[0]
                    pathdistance += fromCity.distance(toCity)
        return pathdistance
    
    def routeFitness(self):
        routefitness = 0
        routedistance = self.routeDistance()
        if self.fitness==0:
            routefitness = 1/float(routedistance)
            
        return routefitness

In [4]:
route1 = []

In [5]:
for i in range(10):
    route1.append(City(random.randint(0,100),random.randint(0,100)))

In [6]:
route1

[(20,87),
 (59,4),
 (82,46),
 (2,70),
 (42,38),
 (24,46),
 (39,77),
 (69,6),
 (73,37),
 (37,17)]

In [7]:
fitness1 = Fitness(route1).routeFitness()

In [8]:
fitness1

0.0018180926974792559

2. InitialPopulation 구성하기

In [9]:
#createRoute : CityList에서 구성된 랜덤샘플로 route구성
def createRoute(cityList):
    route = random.sample(cityList,len(cityList))
    return route

In [10]:
route1

[(20,87),
 (59,4),
 (82,46),
 (2,70),
 (42,38),
 (24,46),
 (39,77),
 (69,6),
 (73,37),
 (37,17)]

In [11]:
citylist1=route1

In [12]:
citylist1

[(20,87),
 (59,4),
 (82,46),
 (2,70),
 (42,38),
 (24,46),
 (39,77),
 (69,6),
 (73,37),
 (37,17)]

In [13]:
createRoute(citylist1)

[(37,17),
 (24,46),
 (2,70),
 (69,6),
 (39,77),
 (82,46),
 (20,87),
 (59,4),
 (73,37),
 (42,38)]

In [14]:
#cityList,popNum입력받아 popNum개의 population 형성
def initialPopulation(cityList,popNum):
    population = []
    for i in range(popNum):
        population.append(createRoute(cityList))
    return population

In [15]:
a = initialPopulation(citylist1,5)

In [16]:
a

[[(82,46),
  (2,70),
  (39,77),
  (69,6),
  (42,38),
  (73,37),
  (59,4),
  (20,87),
  (37,17),
  (24,46)],
 [(20,87),
  (24,46),
  (39,77),
  (69,6),
  (82,46),
  (37,17),
  (2,70),
  (59,4),
  (73,37),
  (42,38)],
 [(73,37),
  (37,17),
  (42,38),
  (69,6),
  (59,4),
  (24,46),
  (82,46),
  (39,77),
  (20,87),
  (2,70)],
 [(20,87),
  (37,17),
  (73,37),
  (59,4),
  (24,46),
  (2,70),
  (39,77),
  (82,46),
  (42,38),
  (69,6)],
 [(39,77),
  (24,46),
  (42,38),
  (2,70),
  (82,46),
  (73,37),
  (59,4),
  (69,6),
  (37,17),
  (20,87)]]

3. Create Genetic Algorithm

1) Rank정하기
    - Fitness 이용해 route별 rank구하기

In [17]:
a

[[(82,46),
  (2,70),
  (39,77),
  (69,6),
  (42,38),
  (73,37),
  (59,4),
  (20,87),
  (37,17),
  (24,46)],
 [(20,87),
  (24,46),
  (39,77),
  (69,6),
  (82,46),
  (37,17),
  (2,70),
  (59,4),
  (73,37),
  (42,38)],
 [(73,37),
  (37,17),
  (42,38),
  (69,6),
  (59,4),
  (24,46),
  (82,46),
  (39,77),
  (20,87),
  (2,70)],
 [(20,87),
  (37,17),
  (73,37),
  (59,4),
  (24,46),
  (2,70),
  (39,77),
  (82,46),
  (42,38),
  (69,6)],
 [(39,77),
  (24,46),
  (42,38),
  (2,70),
  (82,46),
  (73,37),
  (59,4),
  (69,6),
  (37,17),
  (20,87)]]

In [18]:
poprank = {}
for i in range(len(a)):
    fitness = Fitness(a[i]).routeFitness()
    poprank[i]=fitness

In [19]:
poprank

{0: 0.0017840901169142393,
 1: 0.00192455343728991,
 2: 0.0024688817191515205,
 3: 0.001982993321019583,
 4: 0.00266666778257848}

In [20]:

routerank = sorted(poprank.items(),key = operator.itemgetter(1),reverse=True)

In [21]:
routerank

[(4, 0.00266666778257848),
 (2, 0.0024688817191515205),
 (3, 0.001982993321019583),
 (1, 0.00192455343728991),
 (0, 0.0017840901169142393)]

In [22]:
df = pd.DataFrame(routerank,columns=['Index','Fitness'])

In [23]:
df

   Index   Fitness
0      4  0.002667
1      2  0.002469
2      3  0.001983
3      1  0.001925
4      0  0.001784

In [24]:
df['Rank']=df.index+1

In [25]:

df['Rank']=df['Rank'].values[::-1]

In [26]:
df

   Index   Fitness  Rank
0      4  0.002667     5
1      2  0.002469     4
2      3  0.001983     3
3      1  0.001925     2
4      0  0.001784     1

In [27]:
len(df)

5

In [28]:
df['Pressure']=df['Rank']/(len(df)*(len(df)+1)/2)*100
df['Cumsum']=df['Pressure'].cumsum()

In [29]:
df

   Index   Fitness  Rank   Pressure      Cumsum
0      4  0.002667     5  33.333333   33.333333
1      2  0.002469     4  26.666667   60.000000
2      3  0.001983     3  20.000000   80.000000
3      1  0.001925     2  13.333333   93.333333
4      0  0.001784     1   6.666667  100.000000

In [30]:
#rankRoutes로 population의 route중 fitness좋은것부터
#순서대로 (index,fitness)형태로 출력
def rankRoutes(population):
    poprank = {}
    for i in range(len(population)):
        fitness = Fitness(population[i]).routeFitness()
        poprank[i]=fitness
    return sorted(poprank.items(),key = operator.itemgetter(1),reverse=True)

In [31]:
rankRoutes(a)

[(4, 0.00266666778257848),
 (2, 0.0024688817191515205),
 (3, 0.001982993321019583),
 (1, 0.00192455343728991),
 (0, 0.0017840901169142393)]

In [32]:
#roulette wheel이용해서 selection. population length만큼 선택하기.
#rank selection
def selection(popRank):
    selected = []
    df = pd.DataFrame(popRank,columns=['Index','Fitness'])
    df['Rank']=df.index+1
    df['Rank']=df['Rank'].values[::-1]
    df['Pressure']=df['Rank']/(len(df)*(len(df)+1)/2)*100
    df['Cumsum']=df['Pressure'].cumsum()
    for i in range(len(popRank)):
        pick = random.random()*100
        for k in range(len(popRank)):
            if pick < df.iloc[k,4]:
                selected.append(popRank[k])
                break
    return selected

In [33]:
df.iloc[1,3]

26.666666666666668

In [34]:
df

   Index   Fitness  Rank   Pressure      Cumsum
0      4  0.002667     5  33.333333   33.333333
1      2  0.002469     4  26.666667   60.000000
2      3  0.001983     3  20.000000   80.000000
3      1  0.001925     2  13.333333   93.333333
4      0  0.001784     1   6.666667  100.000000

In [35]:
routerank

[(4, 0.00266666778257848),
 (2, 0.0024688817191515205),
 (3, 0.001982993321019583),
 (1, 0.00192455343728991),
 (0, 0.0017840901169142393)]

In [36]:
selc= selection(routerank)

In [37]:
selc

[(1, 0.00192455343728991),
 (2, 0.0024688817191515205),
 (3, 0.001982993321019583),
 (2, 0.0024688817191515205),
 (4, 0.00266666778257848)]

In [38]:
selc[1][0]

2

In [39]:
#selection 결과 바탕으로 matingpool형성
def matingpool(selected,population):
    #population에서 룰렛휠로 selected된 route들로 mating pool 형성
    index = []
    for i in range(len(selected)):
        index.append(selected[i][0])
    pool = []
    for i in range(len(index)):
        pool.append(population[index[i]])
    return pool

In [40]:
matingpool(selc,a)

[[(20,87),
  (24,46),
  (39,77),
  (69,6),
  (82,46),
  (37,17),
  (2,70),
  (59,4),
  (73,37),
  (42,38)],
 [(73,37),
  (37,17),
  (42,38),
  (69,6),
  (59,4),
  (24,46),
  (82,46),
  (39,77),
  (20,87),
  (2,70)],
 [(20,87),
  (37,17),
  (73,37),
  (59,4),
  (24,46),
  (2,70),
  (39,77),
  (82,46),
  (42,38),
  (69,6)],
 [(73,37),
  (37,17),
  (42,38),
  (69,6),
  (59,4),
  (24,46),
  (82,46),
  (39,77),
  (20,87),
  (2,70)],
 [(39,77),
  (24,46),
  (42,38),
  (2,70),
  (82,46),
  (73,37),
  (59,4),
  (69,6),
  (37,17),
  (20,87)]]

In [41]:
a

[[(82,46),
  (2,70),
  (39,77),
  (69,6),
  (42,38),
  (73,37),
  (59,4),
  (20,87),
  (37,17),
  (24,46)],
 [(20,87),
  (24,46),
  (39,77),
  (69,6),
  (82,46),
  (37,17),
  (2,70),
  (59,4),
  (73,37),
  (42,38)],
 [(73,37),
  (37,17),
  (42,38),
  (69,6),
  (59,4),
  (24,46),
  (82,46),
  (39,77),
  (20,87),
  (2,70)],
 [(20,87),
  (37,17),
  (73,37),
  (59,4),
  (24,46),
  (2,70),
  (39,77),
  (82,46),
  (42,38),
  (69,6)],
 [(39,77),
  (24,46),
  (42,38),
  (2,70),
  (82,46),
  (73,37),
  (59,4),
  (69,6),
  (37,17),
  (20,87)]]

In [45]:
len(a[0])

10

In [93]:
#breed...
parent1 = random.sample(a,1)
parent2 = random.sample(a,1)

In [94]:
abs1 = random.randint(0,len(parent1[0]))
abs2 = random.randint(0,len(parent2[0]))

In [96]:
parent1MiddleCross = parent1[0][min(abs1,abs2):max(abs1,abs2)]
parent2MiddleCross = parent2[0][min(abs1,abs2):max(abs1,abs2)]

In [98]:
(abs1,abs2)

(7, 9)

In [99]:
parent1MiddleCross

[(39,77), (20,87)]

In [100]:
parent2MiddleCross

[(20,87), (37,17)]

In [109]:
temp_child1 = parent1[0][:min(abs1,abs2)] +parent2MiddleCross+parent1[0][max(abs1,abs2):]
temp_child2 = parent2[0][:min(abs1,abs2)] +parent1MiddleCross+parent2[0][max(abs1,abs2):]

In [112]:
relations = []
for i in range(len(parent1MiddleCross)):
    relations.append([parent2MiddleCross[i],parent1MiddleCross[i]])
print(relations)

[[(20,87), (39,77)], [(37,17), (20,87)]]

In [114]:
temp_child1

[(73,37),
 (37,17),
 (42,38),
 (69,6),
 (59,4),
 (24,46),
 (82,46),
 (20,87),
 (37,17),
 (2,70)]

In [115]:
parent1[0]

[(73,37),
 (37,17),
 (42,38),
 (69,6),
 (59,4),
 (24,46),
 (82,46),
 (39,77),
 (20,87),
 (2,70)]

In [ ]:
def breed(parent1,parent2):
    child1 = []
    abs1 = random.randint(0,len(parent1))
    abs2 = random.randint(0,len(parent2))
    child1 = []
    for i in range(min(abs1,abs2),max(abs1,abs2)):
        child1.append(parent1[i])
    child2 = [val for val in parent2 if val not in child1]
    Child = child1+child2
    return Child

In [ ]:
pool = matingpool(selc,a)

In [ ]:
pool

In [ ]:
pool[1]

In [ ]:
random.randint(0,3)

In [ ]:
def breedpopulation(pool):
    breedpop = []
    for i in range(len(pool)):
        parent1 = pool[int(random.random()*len(pool))]
        parent2 = pool[int(random.random()*len(pool))]
        breedpop.append(breed(parent1,parent2))
    return breedpop
#pool에서 랜덤한 부모 2명 추출-> breed
#pool length(=popnum)만큼 breedpopulation(자손pop)생성

In [ ]:
brpop = breedpopulation(pool)

In [ ]:
def mutate(breedroute):
    index1 = int(random.random()*len(breedroute))
    index2 = int(random.random()*len(breedroute))
    change1 = breedroute[index1]
    change2 = breedroute[index2]
    breedroute[index1] = change2
    breedroute[index2] = change1
    return breedroute

In [ ]:
def mutatepopulation(breedpop,mutationrate):
    for i in range(len(breedpop)):
        rate = random.random()
        if rate < mutationrate:
            mutate(breedpop[i])
        
    return breedpop

In [ ]:
brpop

In [ ]:
mutatepopulation(brpop,0.3)

In [ ]:
brpop

In [ ]:
def nextGeneration(population,mutationrate):
    rank = rankRoutes(population)
    selected = selection(rank)
    pool = matingpool(selected,population)
    breedpop = breedpopulation(pool)
    nextpop = mutatepopulation(breedpop,mutationrate)
    return nextpop

In [ ]:
nextGeneration(brpop,0.2)

Genetic Algorithm 통합 & 돌리기!

In [ ]:
def GeneticAlgorithm(cityList,popSize,mutationrate,GenNum):
    start = time.time()
    pop = initialPopulation(cityList,popSize)
    progress = []
    bestroute= pop[rankRoutes(pop)[0][0]]
    Finaldistance = 1/rankRoutes(pop)[0][1]
    progress.append(1/rankRoutes(pop)[0][1])
    print('First Distance :'+str(1/rankRoutes(pop)[0][1]))
    for i in range(GenNum):
        pop = nextGeneration(pop,mutationrate)
        progress.append(1/rankRoutes(pop)[0][1])
        if Finaldistance > 1/rankRoutes(pop)[0][1]:
            bestroute = pop[rankRoutes(pop)[0][0]]
            Finaldistance = 1/rankRoutes(pop)[0][1]
        
    print('Final Distance :'+str(Finaldistance))
    finish = time.time()
    print('Time :' +str(finish-start))
    print(bestroute)
    plt.plot(progress)
    plt.xlabel('Generation')
    plt.ylabel('Distance')
    plt.show()

In [ ]:
cityList = []
for i in range(35):
    cityList.append(City(random.randint(0,100),random.randint(0,100)))

In [ ]:
cityList

In [ ]:
GeneticAlgorithm(cityList,50,0.1,5000)